In [9]:
import pandas as pd

In [10]:
music_df =pd.read_csv("./data_moods.csv")

In [11]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              686 non-null    object
 1   album             686 non-null    object
 2   artist            686 non-null    object
 3   id                686 non-null    object
 4   release_date      686 non-null    object
 5   popularity        686 non-null    int64
 6   length            686 non-null    int64
 7   danceability      686 non-null    float64
 8   acousticness      686 non-null    float64
 9   energy            686 non-null    float64
 10  instrumentalness  686 non-null    float64
 11  liveness          686 non-null    float64
 12  valence           686 non-null    float64
 13  loudness          686 non-null    float64
 14  speechiness       686 non-null    float64
 15  tempo             686 non-null    float64
 16  key               686 non-null    int64
 17  time_signature    686 non-null    int64
 18  mood              686 non-null    object
dtypes: float64(9), int64(4), object(6)
memory usage: 102.0+ KB

In [12]:
music_df = music_df[['name','artist','mood','popularity']]
music_df.head()

,name,artist,mood,popularity
0,1999,Prince,Happy,68
1,23,Blonde Redhead,Sad,43
2,9 Crimes,Damien Rice,Sad,60
3,99 Luftballons,Nena,Happy,2
4,A Boy Brushed Red Living In Black And White,Underoath,Energetic,60

In [13]:
music_df["mood"].value_counts()

mood
Sad          197
Calm         195
Energetic    154
Happy        140
Name: count, dtype: int64

In [14]:
music_df["popularity"].value_counts()

popularity
0     92
51    23
52    22
50    21
55    21
      ..
80     1
2      1
14     1
15     1
88     1
Name: count, Length: 83, dtype: int64

In [15]:
Play = music_df[music_df['mood'] =='Calm' ]
Play = Play.sort_values(by="popularity", ascending=False)
Play = Play[:5].reset_index(drop=True)
display(Play)

               name            artist  mood  popularity
0              Lost           Annelie  Calm          64
1         Curiosity       Beau Projet  Calm          60
2     Escaping Time  Benjamin Martins  Calm          60
3  Just Look at You               369  Calm          59
4             Vague     Amaranth Cove  Calm          59

In [16]:
music_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        686 non-null    object
 1   artist      686 non-null    object
 2   mood        686 non-null    object
 3   popularity  686 non-null    int64
dtypes: int64(1), object(3)
memory usage: 21.6+ KB

In [20]:
music_df['mood'].unique()

array(['Happy', 'Sad', 'Energetic', 'Calm'], dtype=object)